* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.header img{
    width: 50px;
    height: 50px;
    border-radius: 100em;
}

.header, .content {
    display: flex;
    background: #1F2937;
}

#logo {
    margin-left: 27em;
}

.header {
    color: #E5E7EB;
    font-size: 18px;
    
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkcontainer {
    display: flex;
    gap: 16px;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    margin-left: 25em;
}

.linkcontainer a{
    display: flex;
    text-decoration: none;
    color: #E5E7EB;
}


#bighero {
    margin-left: 500px;
    padding-top: 200px;
    color: #E5E7EB;
    font-size: 48px;
    font-weight: 900;
}

