* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.header img{
    width: 50px;
    height: 50px;
    border-radius: 100em;
}

.header, .content {
    display: flex;
    background: #1F2937;
}

#logo {
    margin-left: 27em;
}

.header {
    color: #E5E7EB;
    font-size: 18px;
    
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkcontainer {
    display: flex;
    gap: 16px;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    margin-left: 25em;
}

.linkcontainer a{
    display: flex;
    text-decoration: none;
    color: #E5E7EB;
}


#bighero {
    margin-left: 500px;
    padding-top: 200px;
    color: #E5E7EB;
    font-size: 48px;
    font-weight: 900;
}

.content {
    display: flex;
    gap: 15em;
    align-items: flex-end;
    color: #E5E7EB;
    padding-bottom: 150px;
}

.content button{
    width: 120px;
    margin-left: 500px;
    background: #3882F6;
    color: #F9FAF8;
    padding: 8px 16px;
    border-radius: 11%;
    font-weight: 800;
    font-size: 18px;
}

#smallhero {
    display: flex;
    margin-left: 500px;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.alignimage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#image {
    display: flex;
    margin-top: 20px;
    width: 500px;
    height: 200px;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 36px;
}

.contentcontainer {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 200px;
}

.box {
    font-size: 18px;
    text-align: center;
}

.box img{
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 10%;
}